body {

    background-image: url("../pets/front/imagenes/imagen_pets.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    font-size: 25px;
}
a { text-decoration: none; }
a:visited {color: red; }